* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  color: #fcfcfc;
  font-weight: 200;
  background-color: #545454;
}

.container {
  max-width: 1100px;
  margin: 4em auto 0;
  display: flex;
}

.time-slots {
  width: 25%;
  height: auto;
  background-color: #474747;
  padding: 1em;
  border-radius: 4px;
}

.time-header {
  background-color: #474747;
}

.calendar-container {
  width: 75%;
  max-width: 800px;
  margin-left: 2em;
  /*background-color: #545454;*/
}

.header h1 {
  margin: 1em 0em;
  width: 100%;
  font-size: 1.4em;
  font-weight: 300;
}

.month-nav {
  display: flex;
  justify-content: space-between;
  background-color: #474747;
  align-items: center;
  height: 4.5em;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}

.month-year {
  display: flex;
  justify-content: space-around;
  background-color: #474747;
  font-size: 1.7em;
  margin: 0 auto;
}

.month-year h2 {
  font-weight: 300;
}

button {
  outline: none;
}

.nav-btn {
  background-color: transparent;
  border: .5px solid transparent;
  text-align: center;
  font-size: 1.6em;
}

.nav-btn i {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  color: #919191;
  background-color: #474747;
}

.nav-btn i:hover {
  cursor: pointer;
  color: #a3a3a3;
}

#left-btn:hover {
  transform: translate(-2px);
  transition: all 0.07s ease-in;
}

#right-btn:hover {
  transform: translate(2px);
  transition: all 0.07s ease-in;
}

.table {
  margin: 0 auto;
  width: 100%;
  border-collapse: separate;
  border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius:4px;
  border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius:4px;
}

.table th {
  border-top: none;
  color: #919191;
  font-weight: 300;
  font-size: 1.1em;
}

.table td:first-child, th:first-child {
  border-left: none;
}

.week-days tr {
  height: 2em;
}

.numbered-days td {
  height: 3em;
  letter-spacing: 1px;
  vertical-align: baseline;
  width: 14.285714%;
  padding-top: .35em;
  font-size: 1.9em;
  font-weight: 100;
}

.numbered-days td:hover {
  background-color: #5c5c5c;
  cursor: pointer;
}

.empty-cell:hover {
  background-color: transparent;
}

#current-day {
  background-color: #919191;
}

.transparent-row {
  display: none;
  opacity: 0;
}

.green-square {
  height: .3em;
  width: .3em;
  margin: 0 auto;
  margin-top: .4em;
  background-color: #a1ffaf;
}

#cell-info {
  height: 2em;
  width: 4em;
  background-color: white;
}

#available {
  display: none;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

/*
.available-div {
  margin-top: 1em;
  height: 2em;
  width: 100%;
  position: absolute;
  background-color: white;
  color: black;
}*/

.new-row {
  display: none;
}

.new-row-cell {
  padding: 0;
  display: none;
}

.new-row-div {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 4px;
  padding: 0;
  display: none;
}

.is-visible {
  display: block;
}







































